{{template "header" .}}

{{.MicroSearch}}
{{.MicroContact}}

<div class="mdl-grid portfolio-max-width">
    {{range .Mangas}}
    <div class="mdl-card mdl-shadow--4dp portfolio-card mdl-cell mdl-cell--2-col mdl-cell--3-col-desktop">
      <a href="{{.DefaultPath}}">
        <div class="mdl-card__media">
          <img class="article-image" src="{{.MainImageUrl}}" border="0" alt="">
        </div>
      </a>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{.Name}}</h2>
      </div>
      {{if .Description}}
      <div class="mdl-card__supporting-text">
        {.Description}}
      </div>
      {{end}}
    </div>
    {{end}}
  </div>
</div>

{{template "footer" .}}
