{{template "header" .}}
  <!-- content-section-starts -->
  {{.MicroManga}}
  <div class="container mdl-grid">
    <div class="demo-content content mdl-color-text--grey-800">
      {{with .Chapter}}
      <div class="mdl-grid">
        <div class="dress-info">
          <div class="dress-name">
            <h3>{{.Manga.Name}}</h3>
            <p>{{.Manga.Description}}</p>
          </div>
          {{if .Name}}
          <div class="span span2">
            <h4>{{.Name}}</h4>
          </div>
          {{end}}
        </div>
      {{end}}
        <div>
          {{range .Pages}}
          <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
              <img class="page" src="{{.}}">
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  </div>

{{template "footer" .}}
